<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zepto</title>
    <link rel="stylesheet" href="./style/home.css" />
  </head>
  <body>
    <%- include('../partials/navBar.ejs') %>
    <div class="main">
        <div class="cont">
            <div class="del"><h1>Groceries delivered in 10 minutes*</h1></div>
            <div class="store">
              <img src="/images/app.png" alt="" />
              <img src="/images/google.png" alt="" />
            </div>
          </div>
          <div class="pic">
            <img src="/images/home.jpeg" alt="" />
          </div>
    </div>
  </body>
</html>
