<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link rel="stylesheet" href="./style/products.css" />
  </head>
  <body>
    <%- include('../partials/navBar.ejs') %>
    <h1 id="pro">Product page</h1>
    <div class="main1">
      <div class="ice">
        <img src="/images/icecreamcone.jpg" alt="" />
        <a href="products/ice-cream"><h1>Ice Cream</h1></a>
      </div>
      <div class="snacks">
        <img src="/images/mixture.jpg" alt="" />
        <a href="products/snacks"><h1>Snacks</h1></a>
      </div>
      <div class="meat">
        <img src="/images/chicken.webp" alt="" />
        <a href="products/meat"><h1>Meat</h1></a>
      </div>
      <div class="soft">
        <img src="/images/redbull.webp" alt="" />
        <a href="products/soft-drink"><h1>Soft Drink</h1></a>
      </div>
      <div class="gro">
        <img src="/images/lettuce.webp" alt="" />
        <a href="products/grocery"><h1>Grocery</h1></a>
      </div>
      <div class="bev">
        <img src="/images/oldmonk.jpg"" alt="" />
        <a href="products/beverages"><h1>Beverages</h1></a>
      </div>
    </div>
  </body>
</html>
